@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Biryani:wght@200&display=swap");
* {
  box-sizing: border-box;
  font-family: "Biryani", sans-serif;
}

.titulo {
  font-family: "Barlow Condensed", serif;
}

.texto {
  font-family: "Biryani", sans-serif;
}

.boton {
  color: #ffffff;
  background-color: #253439;
  font-family: "Biryani", sans-serif;
  border-color: #253439;
}

.card-body {
  color: #253439;
}

.list-inline-item {
  margin-right: 10px;
}

.img-fluid {
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background-image: url("./assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
}
.header .nav-link {
  color: #cb8e7e;
}
.header .logo {
  width: 100px;
  height: auto;
}
.header .nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
.header .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #423e3a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header .nav-link:hover::after {
  transform: scaleX(1);
}

.main .h1 {
  font-family: "Biryani", sans-serif;
}
.main .gray-background {
  font-family: "Biryani", sans-serif;
  background-color: #b29e84;
  padding: 20px;
  color: #000000;
  opacity: 75%;
}
.main .fa-instagram, .main .fa-whatsapp {
  color: #000000;
}
.main .fondoNosotros {
  background-image: url("../assets/img/fondonosotros.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .cardPunto, .main .cardTienda {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}
.main .cardTienda {
  height: 100%;
  text-align: center;
}

.footer {
  background-color: #423e3a;
  color: #ffffff;
  font-family: "Biryani", sans-serif;
}
.footer .fa-instagram, .footer .fa-whatsapp {
  color: #ffffff;
}