@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Biryani:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: "Biryani", sans-serif;
}
.header {
    background-image: url('./assets/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    .nav-link{
        color: #464646;
    }
    .logo {
            width: 100px;
            height: auto;
    }
    
}
.titulo{
    font-family: 'Barlow Condensed', sans-serif;
}
.texto{
    font-family: "Biryani", sans-serif;
}
.boton{
    color: rgb(255, 255, 255);
    background-color: rgb(110, 107, 103);
    font-family: "Biryani", sans-serif;
    border-color: rgb(110, 107, 103);
}
.card{

}
.card-body {
    color: black; /* Color de texto negro */
}
.list-inline-item {
    margin-right: 10px; /* Espacio entre los íconos */
}
.carousel-item{
    height: 600px;
    width: 300px;
}
.img-fluid{
    height: 300px;
    width: auto;
    object-fit: cover;
}
.main{
    .h1 {
            font-family: 'Barlow Condensed', sans-serif;
    }
    .gray-background {
            font-family: "Biryani", sans-serif;
            background-color: rgb(183, 181, 179, 0.6);
            padding: 20px;
            color: black;
    }
}
.footer{
    background-color: rgb(183, 181, 179);
    color: white;
    font-family: "Biryani", sans-serif;
    .fa-instagram, .fa-whatsapp{
        color: white;
    }
}