
$color-white: #ffffff;
$color-nav: #cb8e7e;
$color-darkblue: #253439;
$color-black: #000000;
$color-lightbrown: #423e3a;
$color-main: #b29e84;

$font-familybiryani: "Biryani", sans-serif;
$font-familybarlow: "Barlow Condensed", serif;

$padding: (
    padding-10: 10px,
    padding-20: 20px,
    padding-30: 30px,
    padding-40: 40px
);
